.heading-dropdown{
    display:flex;
    justify-content: space-around;
    gap: 50vh;
    align-items: center;
}
.control-section{
    width: 90%;
    padding-left: 60px
}
.dropdown-btn{
    border: 1.5px solid  #8F9BB7;
    box-shadow: 10px 10px 25px 0px #00000040;
    background: #0918230D;
    color: #8F9BB7;  
}
.heading-dashboard{
color: white;
}